.btn-success{
    color:black;
}
.btn-success:hover{
    color:white;
}
.btn-danger{
    color:black;
}
.btn-danger:hover{
    color:white;
}

.modal {
    margin-top: 85px;
    margin-left: 60px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    -webkit-overflow-scrolling: touch;
}